.lang {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.lang:hover {
  opacity: 0.7;
}

.map {
  height: 300px;
  width: 50%;
  border-radius: 20px;
}

.productImage {
  width: 100px;
  height: 100px;
  cursor: pointer;
}